<header class="header">
    <img class="logo" src="Images/logo.png" alt="Logo">

    <nav class="navbar">
        <ul class="navbar-list">
            <li><a class="navbar-links" href="/">Home</a></li>
            <li><a class="navbar-links" href="#">About</a></li>
            <li><a class="navbar-links" href="#">Services</a></li>
            <li><a class="navbar-links" href="#">Contact Us</a></li>
            <li><a class="navbar-links" href="/login">Login</a></li>

        </ul>
    </nav>

    <div class="mobile-navbar-btn">
        <i name="menu" class="fa-solid fa-bars mobile-nav-icon"></i>
        <i name="close" class="fa-sharp fa-solid fa-xmark mobile-nav-icon"></i>
    </div>
</header>
